button {
    padding: 10px 15px;
    border: 1px solid white;
    color: white;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.7em rgba(163, 177, 198, 0.6),
                -0.2em -0.2em 0.7em rgba(255, 255, 255, 1);  
}